body {
  background-color:#A1C3D3
}
h1 {
  text-align:center;
  color:#F172A1;
  font-family:'BioRhyme', serif;
  position:fixed;
}

h2 {
  text-align:center;
  color:#F0EBF4;
  font-family:'Roboto', sans-serif;
}

h3 {
  text-align:center;
  color:#B39BC8;
  font-family:'Roboto', sans-serif;
}

h4 {
  text-align:center;
  color:#F0EBF4;
  font-family:'Roboto', sans-serif;
}

h5 {
  text-align:center;
  color:#E64398;
  font-family:'Roboto', sans-serif;
}

a:link {
  color:#E64398;
  text-decoration:none;
}

a:visited {
  color:#E64398;
  text-decoration:none;
}

a:hover {
  color:#F172A1;
  text-decoration:none;
}
